<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team [Enroute to Cloud] Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to Enroute to Cloud's application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       Event Title: <input name="Title" type="text" /> <br />
       Description: <input name="Description" type="text" /> <br />
       <br />
        <input type="Submit" name="Submit" value="Submit" />
    </form>
  </div>
</body>
</html>